.p1 {
  margin-left: 20px;
}
p,
h2 {
  margin-left: 20px;
}
button {
  margin-left: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  background-color: #F8DF1F;
}
.navbar {
  background-color: #F8DF1F;
  padding: 30px;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar li {
  display: inline;
  padding: 10px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-image {
  background-image: url("img/banner-bg.png");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 10%;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.order {
  position: absolute;
  top: 112%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 86px;
  border-radius: 0;
  margin-top: -57px;
  margin-bottom: -3px;
  background-color: #F3F3F3;
}
.burger {
  max-width: 75%;
  min-width: 25%;
  margin-left: 25%;
}
.bob {
  margin-left: 10%;
}
.container-fluid {
  padding-top: 20px;
  padding-bottom: 40px;
}
.bob img {
  margin-left: 20%;
}
.col-sm {
  margin-left: 2%;
  background-color: #F3F3F3;
}
.ml-auto,
.mx-auto {
  max-width: 20%;
}
.btn {
  background-color: #F8DF1F;
  color: black;
  border: none;
}
span {
  color: #EE252F;
}
footer {
  background-color: #080801;
  padding: 25px;
  border-top: 8px solid #F8DF1F;
}
.logo {
  min-width: 25%;
}
